*{
    text-align : center;
    color: white;
}

body{
    height: 100vh;
    background-color: rgb(12, 14, 15);
    padding: 1rem;
}

h1{
    padding-top: 1rem;

}

h2,h3{
    margin: 2rem;
}

.img_header{
    background : url(/media/header.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

img{
    max-width: 100%;
    border-radius: 12px;
 
    
}

.line{
    margin: 1rem;;
    position: relative;
    left: 25%;
    border: 1px solid white;
    width: 50%;
}

footer{
    padding: 1.5rem;

}

/*************************PAGE-EVENEMENTS***************************************/


.evenement{
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 1rem;
}
/*************************PAGE-REJOINDRE**************************************/

form{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input,textarea, button{
    color : black;
    border-radius: 10px;
}

button{
    margin: 1rem;
}

/*************************PAGE-CONTACT***************************************/

.contact_container{
    margin: 3rem 0;
    border: 1px solid darkblue;
    border-radius: 5px;
    color: darkblue;
}










@media screen and (min-width: 1200px)
{
    main{
        display: grid;
        gap : 2rem;
        
        grid-template-areas: "main_left main_right"
                            "h3middle h3middle"
                            "main_bottom main_bottom";
    }

    .main_left{
        grid-area: main_left;
        
    }

    .main_right{
        grid-area: main_right;
    }

    h3{
        grid-area: h3middle;
    }
    
    .main_bottom{
        grid-area: main_bottom;
        display: flex;
     }
 

     .main_bottom img{
        width: 20%;
     }
     
     .footer_bottom{
        position: fixed;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
    }

/****************************REJOINDRE@media1200***********************************/


    form{
        width: 50%;
        margin: auto;
    }
/*************************CONTACT@media1200***************************************/

     .contact_container{
        background : url(/media/header.jpg) no-repeat center;
    }   


}

    